<header>
    <h1>Snips</h1>
</header>

<div id="snips">
    <% @snips.each do |snip| %>
        <h2><%= link_to snip.name, snip %></h2>
        <p><%= snip.summary %></p>
    <% end %>
</div>
<div id="volts" class="alert alert-info">
    Plan is to link list your volts here

</div>
